body {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h1 {
    background-color: lightgoldenrodyellow;
    margin: 20px;
    padding: 20px;
    color:chocolate;
    text-align:center;}
li{
    margin: 3px 20px;
}